@import "main-page.css";
@import "stone-info.css";
@import "panel-admin.css";
@import "form-registration.css";
@import "add-stone.css";

body, html {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.05);
    min-height: 100%;
}

.main {
    min-height: 100%;
}